#bar1,
#bar2,
#bar3 {
  width: 35px;
  height: 3px;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 4px;
}

#menu-wrapper {
  cursor: pointer;
}

#menu {
  height: 0px;
  width: auto;
  position: fixed;
  background-color: transparent;
  visibility: hidden;
  z-index: -1;
}

.cover {
  background: rgba(149, 37, 50, 0.42) !important;
  backdrop-filter: blur(14px);
  transition: all 0.25s ease-in;
  visibility: visible !important;
  width: auto !important;
  position: fixed;
  background-color: transparent;
  visibility: hidden;
  top: 0 !important;
  right: 0 !important;
  height: 70% !important;
}

.scroll-off {
  height: 100vh;
  overflow: hidden;
}

.up {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.mid {
  opacity: 0;
}

.low {
  -webkit-transform: rotate(45deg) translate(-7px, -8px);
  transform: rotate(45deg) translate(-7px, -8px);
}

@media only screen and (max-width: 600px) {
  .cover {
    width: 100% !important;
    height: 100% !important;
    padding: 113px 0 !important;
    align-items: center !important;
  }
}
