.cartInfoCard {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 3%;
  .cartCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    box-sizing: border-box;
    .cartBtnLeft {
      display: flex;
      align-items: center;
      margin-left: 50px;
    }
  }
  .viewCartCard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-right: 14px;
  }
}
.explore {
  margin-top: 134px;
  color: #fff;
  display: flex;
  .left {
    flex: 1;
    position: relative;
    width: 100%;
    height: calc(100vh - 134px);
    margin-right: 38px;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    &::after {
      content: "";
      background-image: url("../../assets/images/vrule.png");
      position: absolute;
      height: 100%;
      width: 100px;
      background-repeat: no-repeat;
      top: 0;
      background-size: contain;
      left: 70%;
    }
  }
  .right {
    flex: 3.5;
    max-width: 75%;
    position: relative;
    .header {
      font-weight: 700;
      font-size: 35.56px;
      line-height: 46px;
      text-transform: uppercase;
      color: #b12535;
      max-width: 250px;
    }
    .carousel {
      position: relative;
      .controls {
        position: absolute;
        top: 40%;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 10;
        img {
          width: 20px;
        }
      }
      .leftArrow {
        left: -50px;
      }
      .rightArrow {
        right: 25px;
      }
    }
    .cardWrapper {
      display: flex;
      flex-direction: column;
      min-width: calc(25% - 50px);
      margin-right: 50px;

      .cartBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        .addBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          cursor: pointer;
          user-select: none;
        }
        .addedToCart {
          display: flex;
          height: 56px;
          align-items: center;
          user-select: none;

          .updateBtn {
            width: 30px;
            text-align: center;
            // margin: 0 20px;
            cursor: pointer;
            user-select: none;
            font-weight: 400;
            font-size: 25px;
          }
          .btnMinus {
            margin: 0 20px 0 0 !important;
          }
          .btnPlus {
            margin: 0 0 0 20px !important;
          }
        }
      }
    }
    .winelist {
      display: flex;
      overflow-x: auto;
      padding: 25px 0;
      position: relative;
      .wineCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: all 0.3s ease;
        cursor: pointer;
        .infoWrapper {
          max-width: 90%;
          text-align: center;
          text-transform: uppercase;
          margin-top: 30px;
          height: 140px;
        }
        .wineImgMain {
          max-height: 299px;
          max-width: 250px;
        }
        .wineName {
          font-weight: 700;
          font-size: 22.1px;
        }
        .subtitle {
          font-size: 18px;
          font-weight: 400;
          opacity: 0.7;
          margin-top: 30px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      &::-webkit-scrollbar {
        display: none !important;
        -ms-overflow-style: none !important; /* IE and Edge */
        scrollbar-width: none !important;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .cartInfoCard {
    .cartCard {
      width: 295.91px !important;
      height: 53.58px !important;
      .cartBtnLeft {
        font-size: 60% !important;
        margin-left: 10px !important;
        > div {
          font-size: 24px !important;
        }
      }
    }
    .viewCartCard {
      width: 93.88px !important;
      height: 27.53px !important;
      font-size: 11px !important;
    }
  }
  .explore {
    display: flex;
    flex-direction: column;
    margin-top: 93px !important;
    .left {
      > div {
        margin-top: 0 !important;
      }
      &::after {
        display: none !important;
      }
      ul {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        li {
          border: none !important;
          margin: 0 !important;
          padding: 6px !important;
          font-size: 12px !important;
        }
      }
    }
    .right {
      max-width: 100% !important;
      .addBtn,
      .addedToCart {
        width: 102.29px !important;
        height: 29.99px !important;
        font-size: 10px !important;
      }
      .addedToCart {
        font-size: 15px !important;
      }
      .header {
        font-size: 20px !important;
        padding: 6px 43px;
      }
      .controls {
        display: none !important;
      }
      .winelist {
        flex-wrap: wrap;
        overflow-y: auto;
        max-height: calc(100vh - 93px - 40px - 58px);
        padding: 0 !important;
        .cardWrapper {
          width: calc(40%) !important;
          margin: 0 5% !important;
          margin-bottom: 25px !important;
          .wineCard {
            > div {
              height: auto !important;
            }
            .wineImgMain {
              width: 144px !important;
              height: 160px !important;
            }
            .wineName,
            .subtitle {
              font-size: 12px !important;
            }
            .subtitle {
              margin-top: 10px !important;
            }
            .infoWrapper {
              min-height: 60px !important;
            }
          }
        }
      }
    }
  }
}
